body {
    background-color: wheat;  
    border: 2px bold whitesmoke;
    text-align: center;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}

li {
  float: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightslategray;
}
#header {
  border: 1px solid black;
  width: 320px;
  float: center;
  margin: 15px auto;
  padding: 15px;
  position: absolute;
  top: 35%;
  left: 40%;
  color: blueviolet;
  background-color: lightseagreen;


}
.head {
  text-align: center;
  border: ipx solid black;
}
a {
  text-decoration: none;
}